
<!------ Include the above in your HEAD tag ---------->
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"2d0f2ea92762c6a3d44dff5d9","lid":"8fd9822a2a","uniqueMethods":true}) })</script>

<div id="wrapper">
<div class="cart-icon-top">
</div>

<div class="cart-icon-bottom">
</div>




<div id="sidebar">
	<h3>CART</h3>
    <div id="cart">
    	<span class="empty">No items in cart.</span>       
    </div>
    
    <h3>CATEGORIES</h3>
    <div class="checklist categories">
    	<ul>
        	<li><a href=""><span></span>3 petit</a></li>
            <li><a href=""><span></span>Chat</a></li>
            <li><a href=""><span></span>3 petit</a></li>
            <li><a href=""><span></span>Chat</a></li>
            <li><a href=""><span></span>3 petit</a></li>
            <li><a href=""><span></span>chat chat chat</a></li>
            <li><a href=""><span></span>Chapeau de paille</a></li>
            <li><a href=""><span></span>Chapeau de paille</a></li>
            <li><a href=""><span></span>Chapeau de paille paille paille</a></li>
        </ul>
    </div>
    
    

    
</div>

<div id="grid-selector">
       <div id="grid-menu">
       	   View:
           <ul>           	   
               <li class="largeGrid"><a href=""></a></li>
               <li class="smallGrid"><a class="active" href=""></a></li>
           </ul>
       </div>
       
       Showing 1–9 of 48 results 
</div>


<div class= "col">
<% @items.each do |item|%>

<div id="grid">

    <div class="product">

        <div class="info-large">
        
        	<h4>photo chat</h4>
            <div class="sku">
            	PRODUCT SKU: <strong>89356</strong>
            </div>
             
            <div class="price-big">
            	<span>$43</span> $39
            </div>
             
            <h3>COLORS</h3>
            <div class="colors-large">
                <ul>
                    <li><a href="" style="background:#222"><span></span></a></li>
                    <li><a href="" style="background:#6e8cd5"><span></span></a></li>
                    <li><a href="" style="background:#f56060"><span></span></a></li>
                    <li><a href="" style="background:#44c28d"><span></span></a></li>
                </ul> 
            </div>

            <h3>SIZE</h3>
            <div class="sizes-large">
 				<span>XS</span>
                <span>S</span>
                <span>M</span>
                <span>L</span>
                <span>XL</span>
                <span>XXL</span>
            </div>
            <% if user_signed_in? %>
                <button class="add-cart-large">Add To Cart</button>                          
            <% end %>    
        </div>
        <div class="make3D">
            <div class="product-front">
                <div class="shadow"></div>
                <img src="<%=item.image_url%>" alt="" />
                <div class="image_overlay"></div>

                <% if user_signed_in? %>
                    <div class="add_to_cart">Add to cart</div>
                <% end %>

                <div class="view_gallery">View gallery</div>                
                <div class="stats">        	
                    <div class="stats-container">
                        <span class="product_price">Price: <%=item.price%>$</span>
                        <span class="product_name">titre: <%=item.title%></span>    
                        <p>Summer dress</p>                                            
                        
                        <div class="product-options">
                        <strong>SIZES</strong>
                        <span>XS, S, M, L, XL, XXL</span>
                        <strong>COLORS</strong>
                        
                    </div>                       
                    </div>                         
                </div>
            </div>
            
            <div class="product-back">
                <div class="shadow"></div>
                <div class="carousel">
                    <ul class="carousel-container">
                    <li><img src="<%=item.image_url%>" alt="" /></br></br></br></br></br></br>
                    <%= item.description%></li>

                    <li><img src="<%=item.image_url%>" alt="" /></br></br></br></br></br></br>
                    <%= item.description%></li>

                    <li><img src="<%=item.image_url%>" alt="" /></br></br></br></br></br></br>
                    <%= item.description%></li>

                    <li><img src="<%=item.image_url%>" alt="" /></br></br></br></br></br></br>
                    <%= item.description%></li>
                    
                    </ul>
                    <div class="arrows-perspective">
                        <div class="carouselPrev">
                            <div class="y"></div>
                            <div class="x"></div>
                        </div>
                        <div class="carouselNext">
                            <div class="y"></div>
                            <div class="x"></div>
                        </div>
                    </div>
                </div>
                <li></li>

                <div class="flip-back">
                    <div class="cy"></div>
                    <div class="cx"></div>
                </div>
            </div>	  
        </div>	
    </div>
    </div>
    <% end %>
    
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="menu.js"></script>
